/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
 */

@font-face {
    font-family: 'Swiss';
    src: url('/styles/fonts/1.bild.eot');
    src: url('/styles/fonts/1.bild.eot?#iefix') format('embedded-opentype'),
    url('/styles/fonts/1.bild.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$line-break: 450px;
$white: #fff;
$black: #000;
$bildred: rgb(220, 2, 1);

$left: 15px;
$right: 15px;

#bm-header{
    background-color: $bildred;
    color: $white;
    position: absolute;
    top: 15px;
    left: $left;
    right: $right;
    z-index: 500;
    padding: 10px;


    h1{
        color: $white;
        font-family: Swiss;
        line-height: 14px;
        font-size: 13px;
    }
}

.bm-controller{
    position: absolute;
    z-index: 500;
    top: 36%;
    color: $bildred;
    font-weight: bold;

    &:hover{
        color: $bildred;
    }

    &.left{
        left: $left;
    }
    &.right{
        right: $right;
    }
}


#bm-footer{
    z-index: 100;
    height: 50px;
    background-color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;

    .wrapper{
        position: relative;
        width: 100%;
        height: 100%;

        .add-line{
            font-family: Swiss;
            float: left;
            width: 70%;
            display: table;
            height: 100%;
            //font-weight: bold;

            @media (max-width: $line-break) {
                top: 4px;
            }

            p{
                font-size: 16px;
                line-height: 17px;
                font-family: Swiss;
                color: $black;
                display: table-cell;
                vertical-align: middle;

              .highlight{
                    color: $bildred;
                    font-size: 17px;
                    font-family: Swiss;
                    margin-top: 7px;
                }
                // Handle 2 Line Linebreak
                @media (max-width: $line-break) {
                    margin-top: 4px;

                    font-size: 12px;
                    &.highlight{
                        margin-top: 3px;
                        font-size: 13px;
                    }
                }
            }
        }
        .app-store{
          max-width: 30%;
          float: right;
          img {
            position: absolute;
            width: 70px;
            top: 25%;
            right: 0;
          }
        }
    }

}
