/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
 */

.bild-custom-design{

  .bild-box{
    z-index: 100;
  }

  h1 {
    font-family: 'Swiss';
    @include font-size(18);
    color: #383838;
    font-weight: normal;
    line-height: 16px;
  }

  #mother-wrapper{
    overflow: hidden;
    margin: 0 20px;
  }

  #mother-wrapper {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -webkit-box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.35); /* WebKit */
    -moz-box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.35); /* Firefox */
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.35); /* Standard */
    //margin-bottom: 20px;

  }

  #mother-wrapper:before,
  #mother-wrapper:after {
    content: '';

    position: absolute;
    left: 37px;
    bottom: 45px;
    width: 70%;
    max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
    max-height: 100px;
    height: 55%;
    -webkit-box-shadow: 0 20px 26px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 20px 26px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 26px rgba(0, 0, 0, 0.5);
    -webkit-transform: skew(-15deg) rotate(-4deg);
    -moz-transform: skew(-15deg) rotate(-4deg);
    -ms-transform: skew(-15deg) rotate(-4deg);
    -o-transform: skew(-15deg) rotate(-4deg);
    transform: skew(-15deg) rotate(-4deg);
  }
  #mother-wrapper:after {
    left: auto;
    right: 35px;
    -webkit-transform: skew(15deg) rotate(4deg);
    -moz-transform: skew(15deg) rotate(4deg);
    -ms-transform: skew(15deg) rotate(4deg);
    -o-transform: skew(15deg) rotate(4deg);
    transform: skew(15deg) rotate(4deg);
  }



  .spot-headline {
    font-family: Swiss;
    @include font-size(11);
    color: $white;
    @include line-height (16);
    font-weight: normal;
  }

  .spot-box {
    top: 20px;
    left: 20px;
    margin-right: 20px;
    background-color: $bildred;
    padding: 7px;
    max-width: 322px;
    max-height: 80px;
    position: fixed;
    pointer-events: all;
    @include border-radius(0px);
    @media (max-width: $break-small) {
      //@include abs-pos(0, auto, auto, 0);
      //margin: 0;
    }

    h3 {
      font-size: 0.923em;
      color: #9c9c9c;
      font-weight: 100;
      line-height: 18px;
    }

    h2 {
      font-size: 1.0em;
      color: #414141;
      line-height: 15px;
      font-weight: 500;
    }
  }


  // Map Interface Style
  .elements-rectangle {
    border-radius: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);

    .fa-red {
      color: $bildred;
    }
  }

  .bild-map-controller {
    pointer-events: all;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 20px;
    //@include abs-pos(auto, 40px, 70px, auto);
    width: 72px;
    background-color: white;
    margin-left: 10px;

    a {
      color: $bildred;
      padding-right: 11px;
      padding-left: 11px;
      &:hover {
        color: $black;
        text-decoration: none;
      }

      .left {
        float: left;
        border-right: 1px solid #eaeaea;
      }

      .right {
        float: right;
        &:hover {
          border-left: 1px solid #fef6f5;
        }
      }
    }
  }


  #pagecurl {
    pointer-events: all;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 92px;
    display: inline-block;
    width: 92px;
    height: 77px;
    position: fixed;
    bottom: 30px;
    left: 0;
    //@include abs-pos(auto, auto, 51px, 25px);
    @include background-image-retina('pagecurl', 'png', 92px, 77px);
    @media (max-width: $break-small) {
      //@include abs-pos(auto, auto, 50px, -40px);
    }
  }

  #whitespace{
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 5000;

    img{
      width: 100%;
      height: 100%;
    }

  }

  #popover-close {
    @include abs-pos(10px, 30px);
    color: rgba(200, 200, 200, 1);
    z-index: 200;
    text-shadow: rgba(0, 0, 0, .25) -1px -1px 0px;
    cursor: pointer;

    &:hover {
      color: $bildred;
    }
  }


  #po_bild_headline {
    max-width: 275px;
    @include line-height(20);
    @include font-size(16);
    font-family: Swiss;
    color: $black;
    max-width: 320px;
    letter-spacing: -.03em;
    margin-top: 30px;
    @media (max-width: $break-point-lg) {
      @include font-size(13);
    }
    u {
      @include line-height(20);
      @include font-size(16);
      font-family: Swiss;
      color: $black;
      max-width: 390px;
      @media (max-width: $break-point-lg) {
        @include font-size(12);
      }
    }
    strong {
      @include font-size(16);
      font-family: Swiss;
      color: $bildred;
      font-weight: normal;
      @include line-height(24);
      @media (max-width: $break-point-lg) {
        @include font-size(14);
      }
    }
    @media (max-width: $break-small) {
      padding-top: 25px;
      @include line-height(20);
      @include font-size(14);
      text-align: justify;
      u {
        @include line-height(20);
        @include font-size(14);
      }
      strong {
        @include line-height(20);
        @include font-size(14);
      }
    }
  }

  #app-store-btn {
    width: 111px;
    height: 38px;
    @include background-image-retina('appstore', 'png', 111px, 38px);
    background-repeat: no-repeat;
    display: inline-block;
    @include abs-pos(134px, auto, auto, 155px);
    @media (max-width: $break-point-md) {
      @include abs-pos(164px, auto, auto, 140px);
    }
    @media (max-width: $break-small) {
      @include abs-pos(154px, auto, auto, 155px);
    }
  }

  #ad-arrow {
    width: 148px;
    height: 73px;
    @include background-image-retina('ad_arrow', 'png', 148px, 73px);
    background-repeat: no-repeat;
    @include abs-pos(113px, auto, auto, 10px);
    @media (max-width: $break-small) {
      @include abs-pos(133px, auto, auto, 10px);
    }
  }

  #dropspot-app-inner {
    padding: 12px;
    width: 560px;
    height: 220px;
    margin: 0 auto; position: relative;
    @include background-image-retina('widget_preview', 'png', 148px, 73px);
    background-size: 300px;
    background-position: bottom right 20px;
    background-repeat: no-repeat;

    @media (max-width: $break-small) {
      background-position: bottom center;
      min-height: 570px;
    }
  }

  #dropspot-app-wrapper {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 500;
    bottom: 5px;
    right: 20px;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
  }

  #widget-preview-textbox {
    width: 138px;
    height: 80px;
    @include abs-pos(auto, 60px, 10px, auto);
    color: $white;
    p {
      @include line-height (8);
      @include font-size (6);
      font-family: HelveticaNeueLT-Light;
    }
    @media (max-width: $break-small) {
      @include abs-pos(auto, 45px, 10px, auto);
    }

  }
}
