/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
 */

.subscribe_btn {
  color: #FFF5EC;
  font-weight: 110;
  font-family: HelveticaNeueLT-Normal;
  width: 240px;
  margin: 0 10px;
  background-color: #ed867b;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 20px;
  border: 1px solid #BF6C63;
  border-radius: 4px;

  &:hover {
    background-color: #DF705A;
  }
}

.subscribe_link {
  display: inline-block;
  color: #FFF5EC;
  font-weight: 110;
  font-family: HelveticaNeueLT-Normal;
  width: 214px;
  margin: 0 10px;
  background-color: #ed867b;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 20px;
  border: 1px solid #BF6C63;
  border-radius: 4px;

  &:hover {
    background-color: #DF705A;
    color: #ffffff;
    text-decoration: none;
  }
}

.elements-wrapper {
  position: relative;
  height: 287px;

  .elements-rectangle{
    z-index: 110;
  }

  @media (max-width: $break-small) {
    width: 290px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
  }

  .author {
    top: 10px;
    left: 10px;
    background-color: #FFFFFF;
    padding: 7px;
    max-width: 182px;
    position: absolute;
    pointer-events: all;

    h3 {
      font-size: 0.923em;
      color: #9c9c9c;
      font-weight: 100;
      line-height: 18px;
    }

    h2 {
      font-size: 1.0em;
      color: #414141;
      line-height: 15px;
      font-weight: 500;
    }
    .author-image {
      height: 30px;
      width: 30px;
      overflow: hidden;
      border-radius: 5px;
      float: left;

      img {
        width: 100%;
      }
    }
    .author-text {
      margin-left: 40px;
    }
  }

  .details {
    position: absolute;
    width: 270px;
    top: 10px;
    right: 10px;
    pointer-events: all;
    @media (max-width: $break-small) {
      top: auto;
      right: auto;
      bottom: 10px;
      left: 10px;
    }

    .cover-container {
      width: 100%;
      margin-bottom: 6px;
      height: 167px;
      overflow: hidden;
      position: absolute;
      @media (max-width: $break-small) {
        bottom: -5px;
      }
      img {
        width: 100%;
      }
    }

    .headline-container {
      position: absolute;
      bottom: 0px;
      padding: 5px;
    }

    h1 {
      font-size: 1.5em;
      line-height: 140%;
      color: #fff;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
      font-weight: 100;
      margin: 0 10px;
      left: 0;
      width: 100%;

    }

    .text-container {
      position: absolute;
      height: 93px;
      line-height: 93px;
      background-color: white;
      margin-top: 175px;
      overflow: hidden;
      @media (max-width: $break-small) {
        margin-top: auto;
        margin-bottom: 175px;
      }
    }

    .description {
      display: inline-block;
      vertical-align: middle;
      padding: 15px;
      color: #727272;
      line-height: 1.385em;
      position: relative;
    }
  }

  .map-controller {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    width: 72px;
    background-color: white;
    margin-left: 10px;
    bottom: 10px;
    @media (max-width: $break-small) {
      bottom: 292px;
    }

    a {
      color: #ed867b;
      padding-right: 11px;
      padding-left: 11px;
      &:hover {
        background-color: #fef6f5;
      }
    }

    .left {
      float: left;
      border-right: 1px solid #eaeaea;
    }

    .right {
      float: right;
      &:hover {
        border-left: 1px solid #fef6f5;
      }
    }
  }
}
