/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
 */

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

/* media query variables */
$break-small: 480px;

$break-point-lg: 668px;
$break-point-md: 530px;

$map-height: 287px;

$white: #fff;
$black: #000;
$bildred: rgb(220, 2, 1);

$fa-font-path: "/bower_components/font-awesome/fonts";
@import "collection";


/* retina display
usage:
@include background-image-retina('name', 'type', width, height);
*/
@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url('../images/' + $file + '.' + $type);

  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url('../images/' + $file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}

/* absolute position
usage:
@include abs-pos(0px, 0px, 10px, 10px);
*/
@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

/* border radius
usage:
@include border-radius(4px);
*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

/* opacity with filter fallback
usage:
@include opacity(0.5);
*/
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/* clearfix
usage:
@include clearfix();
*/
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/* font size
usage:
@include font-size(12);
*/
@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

/*line height
usage:
@include line-height (14);
*/
@mixin line-height($heightValue: 12 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.125 * $heightValue) + rem;
}

/* font face */
@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "/styles/fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}

@font-face {
    font-family: 'Swiss';
    src: url('/styles/fonts/1.bild.eot');
    src: url('/styles/fonts/1.bild.eot?#iefix') format('embedded-opentype'),
    url('/styles/fonts/1.bild.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*import dropspot fonts*/
@font-face {
  font-family: 'HelveticaNeueLT-Light';
  src: url('/styles/fonts/2759C1_0_0.eot');
  src: url('/styles/fonts/2759C1_0_0.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/2759C1_0_0.woff') format('woff'), url('/styles/fonts/2759C1_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'HelveticaNeueLT-Normal';
  src: url('/styles/fonts/276643_1_0.eot');
  src: url('/styles/fonts/276643_1_0.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/276643_1_0.woff') format('woff'), url('/styles/fonts/276643_1_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'HelveticaNeueLT-Bold';
  src: url('/styles/fonts/276643_0_0.eot');
  src: url('/styles/fonts/276643_0_0.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/276643_0_0.woff') format('woff'), url('/styles/fonts/276643_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}




/* Put your CSS here */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'HelveticaNeueLT-Normal';
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px;
}
