/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
 */

/*
|------------------------------------------------------------------------------------
|DIALOG STYLE
|------------------------------------------------------------------------------------
*/

.dialog {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
}

.header {
  height: 60px;
  @media (min-width: $break-small) {
    float: right;
    width: 50%;
  }
  .header-info {
    float: left;
    margin: 15px;
    @media (min-width: $break-small) {
      margin: 15px 0px;
    }
    .logo {
      height: 30px;
      width: 30px;
      overflow: hidden;
      border-radius: 5px;
      float: left;
    }
    .text {
      margin-left: 40px;
    }
  }
  .x {
    background-image: url('../images/widget_sprite.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: inline-block;
    height: 40px;
    width: 40px;
    float: right;
    cursor: pointer;
    margin: 10px;
  }
}

.footer {
  clear: both;
  height: 46px;
  background-color: #ffffff;
  border-top-width: 1px;
  border-style: solid;
  border-color: rgb(194, 194, 194);
  text-align: left;
  margin-bottom: auto;
  @media (max-width: $break-small) {
    text-align: center;
  }
}
