/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
 */

.iphone {
  background: url('../images/phones-slim.png') no-repeat 0 0;
  background-size: 235px 269px;
  width: 235px;
  height: 269px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 334px) {
    background: url('../images/phones.png') no-repeat 0 0;
    background-size: 334px 269px;
    width: 334px;
    height: 269px;
    text-align: left;
  }
  @media (min-width: $break-small) {
    float: right;
  }

  .iphone-big-content {
    font-family: 'HelveticaNeueLT-Light';
    font-weight: normal;
    background: black;
    position: relative;
    width: 143px;
    height: 219px;
    top: 49px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    left: 14px;

    @media (min-width: 334px) {
      left: 65px;
    }

    > img {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      margin-top: 9px;
      width: 142px;
      height: 210px;
      background-size: cover;
      background-position: center center;
      top: 0;
      left: 0;
      position: absolute;
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-size: 136px 210px;

      header {
        height: 32px;
        background: none;
        position: relative;

        .top-bar {
          background: url('../images/iphone-topbar.jpg') no-repeat 0 0;
          background-size: 142px 9px;
          display: block;
          width: 100%;
          height: 10px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border-radius: 2px;
        }
        > img {
          width: 48px;
          height: 48px;
          background: #fff;
          position: absolute;
          left: 25px;
          top: 49px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px;
          -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
          -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
          -ms-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
          box-shadow: 0 0 5px rgba(0, 0, 0, .5);
        }

        .author {
          position: relative;
          display: inline-block;
          margin-left: 6px;
          margin-top: 6px;

          .author-name {
            display: inline-block;
            font-size: 8px;
            color: #fff;
            text-shadow: 0 0 1px rgba(0, 0, 0, .3);
          }

          .author-img {
            display: inline-block;
            position: relative;
            height: 18px;
            width: 18px;
            background-size: 18px 18px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
            vertical-align: middle;
          }
        }

        .icon-list {
          background: url('../images/overview.png') no-repeat 0 0;
          position: relative;
          height: 18px;
          width: 18px;
          background-size: 18px 18px;
          display: inline-block;
          float: right;
          margin-top: 6px;
          margin-right: 6px;
        }
      }

      section {
        padding: 9px;
        position: absolute;
        bottom: 0;
        width: 87%;

        h2 {
          font-size: 12px;
          line-height: 16px;
          color: #fff;
          padding-right: 10px;
          padding-bottom: 0px;
          background: url('../images/arrow_white.png') no-repeat right center;
          background-size: 10px 10px;
          font-family: 'HelveticaNeueLT-Normal';
        }
      }
    }
  }

  .iphone-shadow {
    width: 260px;
    position: relative;
    bottom: -37px;
    left: -13px;
    display: inline;
  }
  @media (min-width: 334px) {
    .iphone-shadow {
      width: 345px;
      bottom: -37px;
      left: -4px;
    }
  }
}
