/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
 */

/*
|------------------------------------------------------------------------------------
|FEEDBACK VIEW
|------------------------------------------------------------------------------------
*/

.hardware-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 97px;
  margin-bottom: 98px;
  width: 322px;
  @media (min-width: $break-small) {
    float: left;
    width: 47%;
    margin-top: 63px;
    margin-bottom: 48px;
    overflow: hidden;
  }
  .hardware {
    background: url('../images/hardware.png') no-repeat 0 0;
    width: 322px;
    height: 142px;
    @media (min-width: $break-small) {
       float: right;
    }
  }
}

.details-wrapper {
  text-align: center;
  @media (min-width: $break-small) {
    float: right;
    width: 50%;
    text-align: left;
  }
  .title-container {
    max-width: 280px;
    @media (max-width: $break-small) {
      margin-left: auto;
      margin-right: auto;
      min-height: 32px;
    }
  }
  .description-container {
    max-width: 280px;
    margin-top: 10px;
    margin-bottom: 20px;
    @media (max-width: $break-small) {
      margin-left: auto;
      margin-right: auto;
      min-height: 57px;
    }
  }
}

.footer {
  p {
    display: inline-block;
    margin-right: 5px;
  }
  .appstore-logo {
    margin-top: -53px;
    width: 150px;
  }
  div {
    margin-left: auto;
    padding-left: auto;
    @media (min-width: $break-small) {
      text-align: left;
      margin-left: 50%;

    }
  }
}

p {
  color: #9b9b9b;
  font-size: 1.1em;
  line-height: 1.485em;
}
