/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
 */

/*
|------------------------------------------------------------------------------------
| LOGIN VIEW
|------------------------------------------------------------------------------------
*/

// taken from: https://gist.github.com/thbar/1319313
@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}


.iphone-wrapper {
  margin-bottom: 20px;
  @media (min-width: $break-small) {
    float: left;
    margin-right: 3%;
    width: 47%;
    height: 207px;
    margin-top: 18px;
  }
}

p {
  color: #9b9b9b;
  font-size: 1.1em;
  line-height: 1.485em;
}

.login-wrapper {
  text-align: center;
  margin: 0px 20px;
  @media (min-width: $break-small) {
    float: left;
    width: 48%;
    margin: 0px auto;
    max-width: 280px;
    text-align: left;
  }
  .title-container {
    margin-left: auto;
    margin-right: auto;
    min-height: 20px;
    @media (min-width: $break-small) {
      margin: 0px;
    }
  }
  label {
    display: inline-block;
    vertical-align: baseline;
    width: 60px;
  }
  input {
    display: inline-block;
    vertical-align: baseline;
    width: 163px;
    margin-left: 39px;
  }
  .error-message {
    color: red;
    font-size: small;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    min-height: 57px;
    @media (min-width: $break-small) {
      margin: 3px 0px 3px 0px;
      min-height: 0px;
    }
  }
  > a {
    margin-top: 5px;
  }
}

.btn-fb {
  display: inline-table;
  background: #3b5998;
  font-size: 1.077em;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  &.hover {
    background: #4a68a9;
    text-decoration: none;
  }
  &.active {
    background: #335594;
    text-decoration: none;
  }
  .fb {
    background-color: #284b89;
    background-image: url('../images/widget_sprite.png');
    background-repeat: no-repeat;
    background-position: -4px -165px;
    height: 30px;
    width: 30px;
    border-radius: 2px 0px 0px 2px;
  }
  span {
    font: inherit;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 15px 0px 15px;
    b {
      font-size: inherit;
    }
  }
}

.footer {
  div {
    font-size: 12px;
    line-height: 14px;
    color: #8c8c8c;
    @media (min-width: $break-small) {
      margin-left: 50%;
      text-align: left;
    }
  }
}
#wise_words{

  margin-top: 5px;
  @media (min-width: 733px) {
    margin-top: 12px;
  }

}





#welcome_button_wrapper{
  padding-top: 15px;

}


#fb-login{
  @include gradient(#496DAF, #304885);
  border: 1px solid #283F6F;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  width: 220px;
  cursor: pointer;

}

.fa-facebook-square{
  padding-left: 12px;
}
.fa-envelope-o{
  padding-left: 10px;
}


#drpspt-sign{
  @include gradient(#FA8D82, #ed867b);
  border: 1px solid #AD5950;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  width: 220px;
  cursor: pointer;
}

.btn_label{
  color: white;
  font-family: 'HelveticaNeueLT-Bold';
  line-height: 15px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding-left: 20px;
}

#login_email_container{
  float: right;
  margin-right: 40px;
}
.login_email{
  color: #ed867b;
  font-family: 'HelveticaNeueLT-Bold';
  cursor: pointer;
}

#show_title{
  font-size: 1.5em;
  line-height: 140%;
  color: #000;
  font-weight: 90;
}


.signup{
  padding-top: 10px;
}

.login{
  padding-top: 15px;
}

.frm_label{
  font-family: 'HelveticaNeueLT-Bold';
  color: 333;
  width: 60px;
}

.sign-wrapper{
  width: 100%;
  margin-bottom: 5px;

}
.red-btn{
  @include gradient(#FA8D82,#ed867b);
  border: 1px solid #AD5950;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 177px;
  float: right;
}
.signup_label{
  padding-left: 0px;
}
