/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
 */

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

/* media query variables */
$break-small: 480px;

$fa-font-path: "/lib/font-awesome/fonts";
@import "../lib/font-awesome/scss/font-awesome";


/*import dropspot fonts*/
@font-face {
  font-family: 'HelveticaNeueLT-Light';
  src: url('/styles/fonts/2759C1_0_0.eot');
  src: url('/styles/fonts/2759C1_0_0.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/2759C1_0_0.woff') format('woff'), url('/styles/fonts/2759C1_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'HelveticaNeueLT-Normal';
  src: url('/styles/fonts/276643_1_0.eot');
  src: url('/styles/fonts/276643_1_0.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/276643_1_0.woff') format('woff'), url('/styles/fonts/276643_1_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'HelveticaNeueLT-Bold';
  src: url('/styles/fonts/276643_0_0.eot');
  src: url('/styles/fonts/276643_0_0.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/276643_0_0.woff') format('woff'), url('/styles/fonts/276643_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

/* Put your CSS here */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'HelveticaNeueLT-Normal';
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


input[type] {
  padding: 0px 6px;
  font-size: small;
}

h1 {
  font-family: 'HelveticaNeueLT-Bold';
  font-size: 1.231em;
  color: #383838;
  font-weight: normal;
  line-height: 16px;
}

h2 {
  font-size: 1.0em;
  color: #414141;
  line-height: 15px;
  font-weight: 500;
}

h3 {
  font-size: 0.923em;
  color: #9c9c9c;
  font-weight: 100;
  line-height: 18px;
}

.container {
  width: 100%;
}

// Map Interface Style
.elements-rectangle {
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

// Map Overlayers
#map-wrapper{
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;

  // Fix incorrectly displayed map controls
  #map {
    height: 100%;
    width: 100%;
    img {
      max-width: none
    }
  }
}

@import "default";
@import "dialog";
@import "login";
@import "dropspotiphone";
@import "feedback";
@import "bild-mobile";
@import "bild-custom";
