<!--
 Copyright 2014 Dropspot GmbH
 Licensed under MIT
 (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
-->

<div class="dropspot-collection" data-slug="serges-collection" data-style="bild-beta"></div>

<!-- Place this tag after the last widget tag. -->
<script src="//widget.test.dropspot-app.com/dropspot.js" type="text/javascript"></script>
