<!--
 Copyright 2014 Dropspot GmbH
 Licensed under MIT
 (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
-->

<!-- MapOverlayers -->
<div id="map-overlayer" class="elements-wrapper">

    <!-- Author Box -->
    <div class="elements-rectangle author">
        <div class="author-image">
            <img ng-src="{{ collection.created_by.primary_avatar }}" alt="author image"/>
        </div>
        <div class="author-text">
            <h3>Ein Service von:</h3>

            <h2>{{ collection.created_by.name }}</h2>
        </div>
    </div>

    <!-- Controler Box -->
    <div class="elements-rectangle map-controller">
        <a class="left" ng-click="prev()">
            <i class="fa fa-angle-left fa-3x"></i>
        </a>
        <a class="right" ng-click="next()">
            <i class="fa fa-angle-right fa-3x"></i>
        </a>
    </div>

    <!-- Detail Box -->
    <div class="details">
        <div class="cover-container elements-rectangle">
            <a target="_blank" href="https://itunes.apple.com/de/app/dropspot-make-your-life-more/id647932541?mt=8">
                <img ng-src="/images/dropspot-bild-beta-widget-540-334.png" alt="bild star radar">
            </a>
        </div>
        <div class="elements-rectangle text-container">
            <span class="description">
                {{ current_spot.name }}
            </span>
        </div>
    </div>
</div>
