<!--
 Copyright 2014 Dropspot GmbH
 Licensed under MIT
 (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
-->

<div id="bm-header">
    <h1>{{ current_spot.name }}</h1>
</div>

<a class="bm-controller left" ng-click="prev()">
    <i class="fa fa-angle-left fa-5x"></i>
</a>
<a class="bm-controller right" ng-click="next()">
    <i class="fa fa-angle-right fa-5x"></i>
</a>

<a href="https://itunes.apple.com/de/app/dropspot/id647932541?mt=8&uo=4" target="itunes_store" id="bm-footer">
    <div class="wrapper">
        <div class="add-line">
            <p class="text">
                <span class="highlight">Neue App: </span>
                BILD News am Ort des Geschehens automatisch aufs Handy
            </p>
        </div>
        <div class="app-store">
            <img src="../images/small_app-store_retina.png">
        </div>
    </div>
</a>

