<!--
 Copyright 2014 Dropspot GmbH
 Licensed under MIT
 (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
-->

<div class="bild-custom-design">
    <!-- Map Overlayer -->
    <div id="map-overlayer" class="ng-scope">
        <div class="spot-box bild-box">
            <div class="">
                <h1 id="bild-spot-headline" class="spot-headline">{{ current_spot.name }}</h1>
            </div>
        </div>

        <div ng-show="mapCtrMultiSpot" class="bild-map-controller bild-box">
            <a class="left" ng-click="prev()">
                <i class="fa fa-angle-left fa-3x"></i>
            </a>
            <a class="right" ng-click="next()">
                <i class="fa fa-angle-right fa-3x"></i>
            </a>
        </div>

        <div id="pagecurl" class="bild-box" href="#" ng-click="showJumbotron()"></div>
    </div>
    <!-- Left Blank for Something -->
    <div id="whitespace">
        <img src="../images/shadow_bottom.png" alt="" />
    </div>


    <!-- Advertisement Overlayer -->
    <div ng-show="showJumbo" class="bild-box" id="dropspot-app-wrapper">
        <div id="popover-close" href="#" ng-click="hideJumbotron()"><i class="fa fa-times fa-2x"></i></div>
        <div id="dropspot-app-inner">
            <div id="ad-arrow"></div>
            <div id="widget-preview-textbox">
                <p>{{ current_spot.name }}</p>
            </div>

            <h1 id="po_bild_headline">
            <strong>Neue App:</strong> BILD News am Ort des Geschehens <u>automatisch</u> aufs Handy</h1>
            <a target="blank" href="https://itunes.apple.com/de/app/dropspot/id647932541" id="app-store-btn"></a>
        </div>
    </div>
</div>




