<!--
 Copyright 2014 Dropspot GmbH
 Licensed under MIT
 (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
-->

<div class="dialog">
    <div class="header">
        <div class="header-info">
            <div class="logo">
                <img src="../images/drpspt-logo.png" alt="author image"/>
            </div>
        </div>
        <dropspot-x></dropspot-x>
    </div>
    <div class="hardware-wrapper">
        <div class="hardware"></div>
    </div>
    <div class="details-wrapper">
        <div class="title-container">
            <h1>
                Unlocked! Now install the app on your iPhone
            </h1>
        </div>
        <div class="description-container">
            <p>
                We've sent you the download link. Open it from your phone and install the app
            </p>
        </div>
    </div>
    <div class="footer">
        <div>
            <p>
                <i>or</i> <b>download now:</b>
            </p>
            <a href=https://itunes.apple.com/app/dropspot/id647932541?mt=8>
                <img class="appstore-logo" src="../images/appstore_en.png" alt="Apple Store">
            </a>
        </div>
    </div>
</div>