<!--
 Copyright 2014 Dropspot GmbH
 Licensed under MIT
 (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
-->

<div class="dialog">
    <div class="header">
        <div class="header-info">
            <div class="logo">
                <img ng-src="{{ collection.created_by.primary_avatar }}" alt="author image"/>
            </div>
            <div class="text">
                <h3>
                    Presented by:
                </h3>

                <h2>
                    {{ collection.created_by.name }}
                </h2>
            </div>
        </div>
        <dropspot-x></dropspot-x>
    </div>
    <div class="iphone-wrapper">
        <dropspot-iphone collection='collection'></dropspot-iphone>
    </div>
    <div class="login-wrapper">
        <div class="title-container">
            <h1 id="show_title">
                {{ collection.name }}
            </h1>
        </div>


        <dropspot-login
                success-callback="successCallback()"
                error-callback="errorCallback()"/>
    </div>
    <div class="footer">
        <div>
            <p id="wise_words">
                Log in to be notified when one of these places is near you.
            </p>
        </div>
    </div>
</div>