<!--
 Copyright 2014 Dropspot GmbH
 Licensed under MIT
 (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
-->

<!-- Background Map Box -->
<div id="map-wrapper">
    <div gm-map gm-map-options="map_options.map"
         gm-map-id="'myMap'" gm-center="center" gm-zoom="zoom" gm-map-type-id="mapTypeId" id="map">
        <gm-markers gm-objects="spots"
                    gm-id="object.slug"
                    gm-position="{ lat: object.latitude, lng: object.longitude }"
                    gm-marker-options="object.marker"
                    gm-on-center-changed="selectSpot(spot, marker)"
                    gm-on-click="markerClick(object)">
        </gm-markers>
    </div>
</div>
<div ng-switch="style.name">
    <div ng-switch-when="bild-beta">
        <ng-include src="'views/bild-beta.html'"></ng-include>
    </div>
    <div ng-switch-when="app-link">
        <ng-include src="'views/app-link.html'"></ng-include>
    </div>
    <div ng-switch-when="bild-custom">
        <ng-include src="'views/bild-custom.html'"></ng-include>
    </div>
    <div ng-switch-when="bild-mobile">
        <ng-include src="'views/bild-mobile.html'"></ng-include>
    </div>
    <div ng-switch-when="ts-beta">
        <ng-include src="'views/ts-beta.html'"></ng-include>
    </div>
    <div ng-switch-default>
        <ng-include src="'views/default.html'"></ng-include>
    </div>
</div>
