<!--
 Copyright 2014 Dropspot GmbH
 Licensed under MIT
 (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
-->

<div class="iphone">
    <div class="iphone-big-content">
        <img src="../images/shadow.png" alt="bundle_image"
             style="background-image:url({{ collection.photo.small }});"/>
        <div class="content">
            <header>
                <span class="top-bar"></span>

                <div class="author">
                    <div class="author-img" style="background-image:url({{ collection.created_by.primary_avatar }});"></div>
                    <div class="author-name">
                        {{ collection.created_by.name }}
                    </div>
                </div>
                <div class="icon-list"></div>
            </header>
            <section>
                <h2>
                    {{ collection.name }}
                </h2>
            </section>
        </div>
    </div>
    <img class="iphone-shadow" src="../images/shadow_iphone.png" alt="shadow iphone"/>
</div>