<!--
 Copyright 2014 Dropspot GmbH
 Licensed under MIT
 (https://bitbucket.org/dropspot/widget/src/master/LICENSE)
-->

<ng-switch on="authView">
    <div ng-switch-when="login_welcome">

        <div class="error-message">{{ errorMessage }}</div>
        <!--
        <button ng-click="login(user)">Log in</button>
        -->

        <!--
        <button ng-click="toggle('signup')">Sign up</button>
        -->

        <!--
        <button ng-click="fbLogin()">Facebook</button>
        -->

        <div id="welcome_button_wrapper">
            <div id="drpspt-sign" ng-click="toggle('signup')">
                <i class="fa  fa-envelope-o fa-2x fb_btn_icon">
                    <span class="btn_label">Signup with Email</span>

                </i>
            </div>
            <div id="fb-login" ng-click="fbLogin()">
                <i class="fa fa-facebook-square fa-2x fb_btn_icon">
                    <span class="btn_label">Login with Facebook</span>

                </i>
            </div>
            <p id="login_email_container">Already have an
                <a class="login_email" ng-click="toggle('login')">account</a>?
            </p>
        </div>
    </div>
    <div class="signup" ng-switch-when="signup">
        <form ng-submit="signup(user)">
            <label class="frm_label">Name: </label> <input type="text" ng-model="user.name"/>
            <label class="frm_label">Password: </label> <input type="password" ng-model="user.password"/>
            <label class="frm_label">E-Mail: </label> <input type="email" ng-model="user.email"/>
            <div class="error-message">{{ errorMessage }}</div>
            <button class="red-btn" type="submit">Signup</button>
        </form>
    </div>
    <div class="login" ng-switch-when="login">
        <form ng-submit="login(user)">
            <label class="frm_label">Name: </label> <input type="text" ng-model="user.name"/>
            <label class="frm_label">Password: </label> <input type="password" ng-model="user.password"/>

            <div class="error-message">{{ errorMessage }}</div>
            <button class="red-btn" type="submit">Login</button>
        </form>
    </div>
</ng-switch>